@font-face{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('Open_Sans/OpenSans-Regular.woff') format('woff'), 
	     url('Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

a:visited{
	color:blue;
}

#index_content #menu li{
	display: inline-block;
	width: 49%;
	background: none repeat scroll 0 0 #bdbdbd
}

#index_content #menu a{
	display: block;
	height: 2.5em;
	width: 100%;
	position: relative;
}

#index_content #menu a div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#index_content #menu #menu_right{
	float: right;
}

#index_content #menu #menu_left{
	float:left;
}

#menu a, #breadcrumb a{
	text-decoration: none;
}

#breadcrumb ul{
	padding: 0;
	margin: 0;
}

#breadcrumb li{
	display: inline-block;
}

#breadcrumb li + li:before{
	content: "> ";
}

#index_content #menu ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body{
	margin: 0;
	font-family: 'Open Sans', Fallback, sans-serif;
}

.content{
	width:100%;
}

#index_content #player{
	padding: 0.5em 1em;
}

#index_content #player_control{
	padding: 0 1em 0.5em;
	position: relative;
}

#breadcrumb{
	padding: 0.5em 1em;
	background: none repeat scroll 0 0 #a4a4a4;
}

#index_content #track_ranking{
	padding: 0.5em 0em;
	overflow: hidden;
}

#index_content #track_ranking h2{
	padding: 0em 0.75em;
	margin: 0;
}

#index_content #track_ranking p{
	padding: 0.25em 1em;
	margin: 0em;
}

.track_list li{
	overflow: hidden;
	padding: 0.25em 1em;
}

.track_list li:nth-child(2n+1) {
	background: none repeat scroll 0 0 #d8d8d8;
}

.track_list{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.track_list .track_info {
	float: left;
	width:78%;
}

.track_list .track_vote {
	float:right;
	position: relative;
}

.track_list .track_vote form{
	margin: 0;
}

.album_artist_list ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.album_artist_list a{
	padding: 0.5em 1em;
	display: block;
	text-decoration: none;
}

.album_artist_list li:nth-child(2n+1){
	background: none repeat scroll 0 0 #d8d8d8;
}

#search form{
	margin: 0;
	padding: 0.5em 1em 0em;
}

#search input[name="search"]{
	width: 79%;
}
