{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'musicvoting/style.css' %}" />
<meta name="viewport" content="width=device-width">

<div class="content">
	
	<div id="breadcrumb">
		<ul>
			<li><a href="{% url 'musicvoting:index' %}">Home</a></li>
			<li>Albums</li>
		</ul>
	</div>
	<div class="album_artist_list">
		{% if album_list %}
			<ul>
			{% for album in album_list %}
				<li><a href="{% url 'musicvoting:album_detail' album.id %}">{{ album.album_name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No album are available.</p>
		{% endif %}
	</div>
</div>
