<p>{{ album.album_name }}</p>
{% if track_list %}
	<ul>
	{% for track in track_list %}
		<li>{{ track.track_number }} -- {{ track.title }} -- {{track.artist.artist_name}} -- Votes: {{ track.votes}}
			{% if voter in track.voting_users.all %}
				<form action="{% url 'musicvoting:unvote_track' track.id %}?next={{ path }}" method="post">
				{% csrf_token %}
					<input type="submit" value="Unvote" />
				</form>
			{% else %}
				<form action="{% url 'musicvoting:vote_track' track.id %}?next={{ path }}" method="post">
				{% csrf_token %}
					<input type="submit" value="Vote" />
				</form>
			{% endif %}		
		</li>
	{% endfor %}
	<ul>
{% else %}
	<p>No tracks are available.</p>
{% endif %}
