{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'musicvoting/style.css' %}" /> -->
		<link rel="stylesheet" type="text/css" href="{% static 'musicvoting/style-bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'musicvoting/bootstrap-3.3.2-dist/css/bootstrap.min.css' %}">
		<script src="{% static 'musicvoting/jquery_2.1.3/jquery-2.1.3.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'musicvoting/bootstrap-3.3.2-dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Musicvoting - Albums</title>
	</head>
	<body>

		<div class="container">
			<header>
				{% include 'musicvoting/navbar.html' %}
				
				<ol class="breadcrumb">
					<li><a href="{% url 'musicvoting:index' %}">Home</a></li>
					<li class="active">Albums</li>
				</ol>
			</header>
	
			{% if album_list %}
			<div class="list-group">
				{% for album in album_list %}
				<a href="{% url 'musicvoting:album_detail' album.id %}" class="list-group-item">{{ album.album_name }}</a>
			{% endfor %}
			</div>
			{% else %}
			<p>No album are available.</p>
			{% endif %}
		</div>
	</body>
</html>

