{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'musicvoting/style.css' %}" />
<script src="{% static 'musicvoting/scripts.js' %}" type="text/javascript"></script>
<script src="{% static 'musicvoting/spin.js_2.0.1/spin.min.js' %}" type="text/javascript"></script>
<meta name="viewport" content="width=device-width">




<div id="index_content" class="content">
	
	<div id="breadcrumb">
		<ul>
			<li><a href="{% url 'musicvoting:index' %}">Home</a></li>
			<li><a href="{% url 'musicvoting:artist' %}">Artists</a></li>
			<li>{{ artist.artist_name }}</li>
		</ul>
	</div>
	{% if track_list %}
		<ul class="track_list">
			{% for track in track_list %}
				<li id="track-{{ track.id }}" class="track">
					<div class="track_info">
						<div>{{ track.track_number }} - {{ track.title }}</div>
						<div>Album: <a href="{% url 'musicvoting:album_detail' track.album.id %}">{{ track.album.album_name }}</a></div>
					</div>
					<div class="track_vote">					
						<div>
							{% if voter in track.voting_users.all %}
								<input type="button" value="Unvote" onClick="unvote({{ track.id }})"/
							{% else %}
								<input type="button" value="Vote" onClick="vote({{ track.id }})"/>
							{% endif %}
						</div>
						<div class="votes">Votes: {{ track.votes }}</div>
					</div>
				</li>
			{% endfor %}
			<ul>
	{% else %}
		<p>No tracks are available.</p>
	{% endif %}
</div>
