{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'musicvoting/style.css' %}" />
<meta name="viewport" content="width=device-width">

<div class="content">
	
	<div id="breadcrumb">
		<ul>
			<li><a href="{% url 'musicvoting:index' %}">Home</a></li>
			<li>Artists</li>
		</ul>
	</div>
	<div class="album_artist_list">
		{% if artist_list %}
			<ul>
			{% for artist in artist_list %}
				<li><a href="{% url 'musicvoting:artist_detail' artist.id %}">{{ artist.artist_name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No artist are available.</p>
		{% endif %}
	</div>
</div>
