{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'musicvoting/style.css' %}" />
<meta name="viewport" content="width=device-width">
<div id="index_content" class="content">
	{% if not cookie %}
		<p>This website uses cookies. Please refresh the site. If you still see this message, make sure that cookies are enabled in your browser.</p>
	{% endif %} 
	<div id="breadcrumb">
		<ul>
			<li>Home</li>
		</ul>
	</div>
	<div id="player">
		<div id="now_playing">Now playing:</div>
		<div id="track_title">{{ current_track.title }}</div>		
		<div id="artist_name">Artist: <a href="{% url 'musicvoting:artist_detail' current_track.artist.id %}">{{ current_track.artist.artist_name }}</a></div>
		<div id="album_name">Album: <a href="{% url 'musicvoting:album_detail' current_track.album.id %}">{{ current_track.album.album_name }}</a></div>
	</div>
	<div id="menu">
		<ul>
			<li id="menu_left"><a href="{% url 'musicvoting:artist' %}" id="artists">Artists</a></li>
			<li id="menu_right"><a href="{% url 'musicvoting:album' %}" id="albums">Albums</a></li>
		</ul>
	</div>
	<div id="track_ranking" class="track_list">
		<h2>Top most voted tracks</h2>
		{% if track_ranking %}
			<ul>
			{% for track in track_ranking %}
				<li>{{ track.artist.artist_name }} -- {{ track.album.album_name }} -- {{ track.title }} -- Votes: {{ track.votes}}
					{% if cookie %}
						{% if voter in track.voting_users.all %}
							<form action="{% url 'musicvoting:unvote_track' track.id %}?next={{ path }}" method="post">
							{% csrf_token %}
								<input type="submit" value="Unvote" />
							</form>
						{% else %}
							<form action="{% url 'musicvoting:vote_track' track.id %}?next={{ path }}" method="post">
							{% csrf_token %}
								<input type="submit" value="Vote" />
							</form>
						{% endif %}
					{% endif %}		
				</li>
			{% endfor %}
			<ul>
		{% else %}
			<p>No tracks are available.</p>
		{% endif %}
	</div>
</div>
