{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'musicvoting/style.css' %}" />
<script src="{% static 'musicvoting/scripts.js' %}" type="text/javascript"></script>
<script src="{% static 'musicvoting/spin.js_2.0.1/spin.min.js' %}" type="text/javascript"></script>
<meta name="viewport" content="width=device-width">
<div id="index_content" class="content">
	{% if not cookie %}
	<div id="cookie_warning">
		This website uses cookies. Please enable cookies in your browser and refresh the page.
	</div>
	<script type="text/javascript">
	<!--
	var test_cookie = getCookie("test_cookie");
	if (test_cookie == "true"){
		document.getElementById("cookie_warning").style.display = 'none';
		document.cookie = "test_cookie=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
	}
	//-->
	</script>
	{% endif %} 
	<div id="breadcrumb">
		<ul>
			<li>Home</li>
		</ul>
	</div>
	<div id="player">
		<div id="now_playing">Now playing:</div>
		<div id="track_title">{{ current_track.title }}</div>		
		<div id="artist_name">Artist: <a href="{% url 'musicvoting:artist_detail' current_track.artist.id %}">{{ current_track.artist.artist_name }}</a></div>
		<div id="album_name">Album: <a href="{% url 'musicvoting:album_detail' current_track.album.id %}">{{ current_track.album.album_name }}</a></div>
	</div>
	{% if admin %}
	<div id="player_control">
		{% if playing %}
		<input name="pause_play_button" type="button" value="Pause" onClick="pause()" />
		{% else %}
		<input name="pause_play_button" type="button" value="Unpause" onClick="unpause()" />
		{% endif %}
		<input name="next_button" type="button" value="Next" onClick="next()" />
	</div>
	{% endif %}
	<div id="menu">
		<ul>
			<li id="menu_left"><a href="{% url 'musicvoting:artist' %}" id="artists"><div>Artists</div></a></li>
			<li id="menu_right"><a href="{% url 'musicvoting:album' %}" id="albums"><div>Albums</div></a></li>
		</ul>
	</div>
	<div id="track_ranking">
		<h2>Top most voted tracks</h2>
		{% if track_ranking %}
			<ul class="track_list">
			{% for track in track_ranking %}
				<li id="track-{{ track.id }}" class="track">
					<div class="track_info">
						<div>{{ track.title }}</div>
						<div>Artist: <a href="{% url 'musicvoting:artist_detail' track.artist.id %}">{{ track.artist.artist_name }}</a></div>
						<div>Album: <a href="{% url 'musicvoting:album_detail' track.album.id %}">{{ track.album.album_name }}</a></div>
					</div>
					<div class="track_vote">					
						<div>
							{% if voter in track.voting_users.all %}
								<input type="button" value="Unvote" onClick="unvote({{ track.id }})"/>
							{% else %}
								<input type="button" value="Vote" onClick="vote({{ track.id }})"/>
							{% endif %}
						</div>
						<div class="votes">Votes: {{ track.votes }}</div>
					</div>
				</li>
			{% endfor %}
			<ul>
		{% else %}
			<p>No track was voted. DJ Shuffle decides which track will be played next.</p>
		{% endif %}
	</div>
</div>
