<script type="text/javascript">
	urls = {};
	urls["vote"] = "{% url 'musicvoting:vote_track' %}";
	urls["unvote"] = "{% url 'musicvoting:unvote_track' %}";
	urls["pause"] = "{% url 'musicvoting:pause' %}";
	urls["unpause"] = "{% url 'musicvoting:unpause' %}";
	urls["next"] = "{% url 'musicvoting:next' %}";
	urls["shutdown"] = "{% url 'musicvoting:shutdown' %}";
	urls["dbimport"] = "{% url 'musicvoting:dbimport' %}";
	urls["importstatus"] = "{% url 'musicvoting:dbimport_status' %}";
	urls["dbimport_add_directory"] = "{% url 'musicvoting:dbimport_add_directory' %}";
	urls["dbimport_mark_remove"] = "{% url 'musicvoting:dbimport_mark_remove' %}";
	urls["vote_unvote_next"] = "{% url 'musicvoting:vote_unvote_next' %}";
	urls["index"] = "{% url 'musicvoting:index' %}";
</script>