<nav id="navbar" class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Musicvoting</a>
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'musicvoting:artist' %}">Artists</a></li>
				<li><a href="{% url 'musicvoting:album' %}">Albums</a></li>
				<li><a href="{% url 'musicvoting:active_votes' %}">Your active votes</a></li>
			</ul>
			<!-- Search-->
			<form class="navbar-form navbar-left" role="search" action="{% url 'musicvoting:search' %}" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="search">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</form><!-- /Search -->
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_superuser %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin options <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{% url 'musicvoting:dbimport' %}">Import tracks</a></li>
						<!-- Shutdown -->
						<li><a href="#" data-toggle="modal" data-target="#modal-shutdown">Shut down</a></li>
						<!-- /Shutdown -->
					</ul>
				</li>
				{% endif %}

				
				{% if user.is_authenticated %}
				<li><a href="{% url 'musicvoting:logout' %}?next={% url 'musicvoting:index' %}">Logout</a></li>
				{% else %}
				<li><a href="{% url 'musicvoting:login' %}?next={% url 'musicvoting:index' %}">Login</a></li>
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>

<!-- Shutdown Modal -->
<div class="modal fade" id="modal-shutdown" tabindex="-1" role="dialog" aria-labelledby="modal-shutdown-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-shutdown-label">Are you sure that you want to shut down the device?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onClick="shutdown()" >Shut down</button>
			</div>
		</div>
	</div>
</div>
<!-- /Shutdown Modal -->